.navbar {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.gallery-wrap {
  overflow: hidden;
  width: 100%;
}
.gallery-counter {
  position: absolute;
  overflow: hidden;
  top: 10%;
  left: 2%;
  z-index: 1;
  mix-blend-mode: difference;
  line-height: 16px;
  font-weight: 600;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.gallery {
  height: 80vh;
  padding: 10vh 0;
  width: 350%;
  display: flex;
  flex-wrap: nowrap;
}
.gallery .gallery-item {
  position: relative;
  will-change: transform;
}
.gallery .gallery-item-info {
  position: absolute;
  bottom: -10%;
  z-index: 1;
  transform: translateX(-50%);
}
.gallery .gallery-item-info .gallery-info-title {
  font-weight: 600;
  font-size: 4vw;
  line-height: 1em;
}
.gallery-info-title::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--mainColor);
  margin: auto;
  display: block;
}

.gallery .gallery-item-info .gallery-info-subtitle {
  position: relative;
  font-weight: 400;
  font-size: 3vw;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  transition: 0.4s;
}
.gallery .gallery-item-info .gallery-info-subtitle:hover {
  color: var(--fontColor);
}

.gallery .gallery-item-info .gallery-info-category {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  width: max-content;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  -webkit-font-smoothing: antialiased;
  margin-top: 2vh;
}
.gallery .gallery-item-wrapper {
  aspect-ratio: 1.7777777778;
  height: 100%;

  display: grid;
  grid-template-columns: 20vw 1fr 200px;
  width: 100%;
}
.gallery .gallery-item-wrapper.is-reveal .gallery-item-image {
  transform: scale(1);
  filter: none;
}
.gallery .gallery-item-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
  will-change: transform;
  width: 100%;
  height: 100%;
  transform: scale(0.7);
  transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
  filter: grayscale(100%) sepia(20%) brightness(80%);
}

#headerText {
  line-height: 60px;
  transform: translateY(0px);
  line-height: 130px;
}

#headerText > div {
  opacity: 0;
}
#headerText.is-reveal {
  opacity: 1;
}

#para {
  opacity: 0;
  line-height: 60px;
}

#para > div {
  opacity: 0;
  transform: translateY(0px);
}
#para.is-reveal {
  opacity: 1;
}

#para2 {
  opacity: 0;
  line-height: 60px;
}

#para2 > div {
  opacity: 0;
  transform: translateY(0px);
}
#para2.is-reveal {
  opacity: 1;
}

.link-button {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  font: 300 1.55rem/1.4 "Josefin Sans";
  text-transform: uppercase;
  letter-spacing: 0.1175em;
  word-spacing: 0.3em;
  text-decoration: none;
}
.link__svg {
  width: 100%;
  height: auto;
  transform-box: fill-box;
  stroke: black;
  fill: black;
  stroke-width: 0.1em;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.link__face,
.link__arrow {
  transform-origin: 50% 50%;
  transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}
.lin-button:hover .link__face,
.link-button:hover .link__arrow {
  transform: scale(1.1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.link__arrow {
  stroke-width: 0.075em;
}
.link__text {
  animation: rotateReverse normal infinite 20s linear;
  transform-origin: 50% 50%;
}
.link-button:hover .link__text {
  animation-play-state: paused;
}
.link--alt {
  font-size: 1.15rem;
  letter-spacing: 0;
  word-spacing: 0;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateReverse {
  to {
    transform: rotate(-360deg);
  }
}

.card {
  height: 250px;
}

.lang-card-container .lang-card{
  opacity: 0;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}


.text-underline::after{
  width: 100%;
  height: 1px;
  background-color: var(--mainColor);
  margin: auto;
  display: block;
  content: '';
}

.card > .card-content {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.contact-form {
  @apply px-5 lg:px-10 flex flex-col gap-5;
}
.contact-form .input-container {
  @apply w-full flex flex-col;
}

.contact-form .input-container input {
  border: none;
  border-bottom: 1px solid #c3c3c3;
  background-color: transparent;
  outline: none;
  padding: 15px 0;
  transition: 0.4s;
}

.contact-form .input-container input{
  @apply border border-b-[#c3c3c3] dark:border-b-[#252525]
}

.contact-form .input-container input:focus,
.contact-form .input-container input:valid {
  border-bottom: 1px solid #0f0f10;
}
.contact-form .input-container input::placeholder {
  font-size: 14px;
  padding: 0px 10px;
  color: rgb(195, 195, 195);
}

.contact-form .input-container input {
  @apply text-sm px-[10px] dark:placeholder:text-[#474747];
}

.contact-form .input-container label {
  margin-bottom: 5px;
}

.textarea-container {
  @apply w-full flex flex-col;
}

.textarea-container textarea {
  border: none;
  border-bottom: 1px solid rgb(195, 195, 195);
  outline: none;
  box-sizing: border-box;
  padding: 5px;
  background-color: transparent;
  transition: 0.4s;
}
.textarea-container textarea {
  @apply text-sm px-[10px] dark:placeholder:text-[#474747] border-b-[#c3c3c3] dark:border-b-[#252525]
}

.textarea-container textarea:focus,
.textarea-container textarea:valid {
  border-bottom: 1px solid #0f0f10;
}


.footer-container{
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 10;
  background-color: var(--reverseBgColor);
  padding: 50px 200px;
  display: block;
}

.footer-container.active{
  display: none;
}

.footer-container .footer-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.footer-container .footer-data .box-1{
  width: 60%;
}

.footer-container .footer-data .box-1 h1{
  color: var(--backgroundColor);
}

.footer-container .footer-data .box-1 h2{
  color: var(--backgroundColor);
  margin-bottom: 20px;
}
.footer-container .footer-data .box-1 p{
  color: var(--backgroundColor);
}

.footer-container .footer-data .box-2{
  width: 40%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  text-align: right;
}
.footer-container .footer-data .box-2 span{
  color: var(--backgroundColor);
  font-size: 20px;
  /* margin-bottom: -20px; */
}

.footer-container .footer-data .box-2 span::after{
  content: '';
  width: 50%;
  height: 1px;
  background: var(--pink);
  display: block;
  margin-left: auto;
}
.footer-container .footer-data .box-2 .inner-1 .links{
  margin-top: 20px;
}
.footer-container .footer-data .box-2 .inner-1 li{
  position: relative;
  transition: var(--transiton);
  margin-top: 5px;
  list-style: none;
}
.footer-container .footer-data .box-2 .inner-1 li a{
  color: gray;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  transition: var(--transiton);
}

.footer-container .line{
  background: rgb(57,57,57);
  background: linear-gradient(90deg, rgba(57,57,57,1) 0%, rgba(255,255,255,1) 47%, rgba(57,57,57,1) 100%);

  margin-top: 50px;

  width: 100%;
  height: 1px;
}


.footer-container .footer-links{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 50px;
}

.footer-container .footer-links span{
  color: gray;
}

.footer-container .footer-links .icons{

  color: gray;
  display: flex;
  gap: 30px;

  
}

.footer-container .footer-links .icons > *{
  font-size: 30px;
  cursor: pointer;
  transition: var(--transiton);
}


@media screen and (max-width:1400px) {
  .footer-container{
      /* background-color: black; */
      padding: 50px 20px;
  }
}
@media screen and (max-width:1200px) {
  .footer-container .footer-data{
      flex-direction: column;
  }
  .footer-container .footer-data .box-1{
      width: 100%;
  }
  .footer-container .footer-data .box-2 {
      flex-direction: column;
      margin-top: 50px;
      width: 100%;
  }
  .footer-container .footer-data .box-2 .inner-1{
      margin-top: 20px;
  }
  .footer-container .footer-data .box-2 span::after{
      width: 10%;
  }
  .footer-container .footer-links{
      flex-direction: column;
  }
  .footer-container .footer-links .icons{
      margin-top: 20px;
  }
  .footer-container .footer-data .box-2{
      justify-content: flex-start;
      text-align: left;
  }
  .footer-container .footer-data .box-2 span::after{
      display: none;
  }
}

@media screen and (max-width: 768px) {
  #headerText {
    line-height: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #headerText {
    line-height: 5rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #headerText {
    line-height: 5rem;
  }

}




